# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
fi
unset __conda_setup
# <<< conda initialize <<<

conda activate grd2shp_xagg
if [ $? -ne 0 ]; then  # Install and then use the conda environment.
    conda env create -f environment.yml
    conda develop -n grd2shp_xagg src
    conda activate grd2shp_xagg
    pip install -r requirements.dev
fi

