[flake8]
select = B,B9,C,D,DAR,E,F,N,RST,S,W
ignore = E203,E501,RST201,RST203,RST301,RST307,W503
max-line-length = 88
max-complexity = 10
exclude = noxfile.py
docstring-convention = google
per-file-ignores = tests/*:S101
based-on-style = "pep8"
column-limit = 88
indent-width = 4
spaces_before_comment = 2
ALLOW_SPLIT_BEFORE_DICT_VALUE = false
DEDENT_CLOSING_BRACKETS = true
EACH_DICT_ENTRY_ON_SEPARATE_LINE = true
COALESCE_BRACKETS = true
USE_TABS = false
ALLOW_MULTILINE_LAMBDAS = true
BLANK_LINE_BEFORE_NESTED_CLASS_ON_DEF = true
INDENT_DICTIONARY_VALUE = true
SPLIT_BEFORE_EXPRESSION_AFTER_OPENING_PAREN = true
DISABLE_ENDING_COMMA_HEURISTIC = true
rst-roles = class,func,ref,attr
rst-directives = envvar,exception,autoattribute,autofunction
